Repository Eclipse-Station/Eclipse-Station-13, pull requests merged in 2019-10, with the labels that each got.

#250 Assorted fixes
  .github/CODEOWNERS
  code/controllers/Processes/supply.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/modules/maps/tg/map_template.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/animals/giant_spider.dm
  code/modules/organs/internal/brain.dm
  modular_eclipse/maps/submaps/surface_submaps/wilderness/wilderness.dm
Labels: Balancing/Rebalancing, Eclipse edit, GitHub/CI, Work In Progress, bugfix, enhancement

#253 Suggestion Box Changes, Part 7
  code/ATMOSPHERICS/components/omni_devices/_omni_extras.dm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/omni_devices/omni_base.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/defines/gases_eclipse.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister_eclipse.dm
  code/game/machinery/vending_vr.dm
  code/game/verbs/ooc.dm
  code/modules/busy_space_vr/organizations.dm
  code/modules/events/atmos_leak.dm
  code/modules/events/event_container_vr.dm
  code/modules/lore_codex/codex.dm
  code/modules/lore_codex/lore_data/important_locations.dm
  code/modules/lore_codex/lore_data_vr/important_locations.dm
  code/modules/lore_codex/lore_data_vr/main.dm
  code/modules/lore_codex/lore_data_vr/orgs.dm
  code/modules/lore_codex/lore_data_vr/political_parties.dm
  code/modules/lore_codex/lore_data_vr/species.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents_eclipse.dm
  code/modules/reagents/Chemistry-Recipes_eclipse.dm
  eclipsestation.dme
  modular_eclipse/disk_rename/disks.dm
Labels: Balancing/Rebalancing, Eclipse edit, Suggestion Box, enhancement

#256 Upstream map merge
  code/game/machinery/requests_console_vr.dm
  code/modules/reagents/Chemistry-Machinery.dm
  eclipsestation.dme
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-3.dmm
  maps/southern_cross/southern_cross-4.dmm
  maps/southern_cross/southern_cross-5.dmm
  maps/southern_cross/southern_cross-6.dmm
  maps/southern_cross/southern_cross-7.dmm
  maps/southern_cross/southern_cross-8.dmm
  maps/southern_cross/southern_cross-9.dmm
  maps/southern_cross/southern_cross_areas.dm
  modular_eclipse/code/datums/supplypacks/recreation_eclipse.dm
  modular_eclipse/reginald/coding_lizard.dm
  modular_eclipse/unsorted/random_air_rifle.dm
Labels: Eclipse edit, Map changes, Merge, Priority: High

#259 Promethean rebalance + slight rework
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/prometheans.dm
  code/modules/mob/living/carbon/human/species/station/prometheans_vr.dm
  code/modules/mob/living/simple_animal/simple_animal_vr.dm
  code/modules/mob/transform_procs.dm
  code/modules/organs/subtypes/slime.dm
  eclipsestation.dme
  modular_citadel/code/modules/clothing/under/miscellaneous_vr.dm
  modular_eclipse/mobs/prometheans_eclipse/abilities.dm
  modular_eclipse/mobs/prometheans_eclipse/bolb.dm
Labels: Balancing/Rebalancing
