Repository Eclipse-Station/Eclipse-Station-13, pull requests merged in 2019-11, with the labels that each got.

#266 Updates to MapMerge2 tooling and docs, miscellaneous clerical updates
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-3.dmm
  maps/southern_cross/southern_cross-4.dmm
  maps/southern_cross/southern_cross-5.dmm
  maps/southern_cross/southern_cross-6.dmm
  maps/southern_cross/southern_cross-7.dmm
  maps/southern_cross/southern_cross-8.dmm
  maps/southern_cross/southern_cross-9.dmm
  tools/mapmerge2/Prepare Maps.bat
  tools/mapmerge2/README.txt
  tools/mapmerge2/frontend.py
  tools/mapmerge2/mapmerge.bat
  tools/mapmerge2/readme.md
  tools/mapmerge2/update_paths.py
Labels: GitHub/CI, Map changes, Tools

#269 Suggestion Box update - such has never happened, and here it is yet again!
  code/datums/autolathe/engineering.dm
  code/datums/outfits/jobs/civilian.dm
  code/datums/supplypacks/robotics_vr.dm
  code/game/antagonist/station/cultist.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/structures/trash_pile.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/observer/observer_vr.dm
  code/modules/mob/living/carbon/human/species/station/alraune.dm
  code/modules/mob/living/carbon/human/species/station/station_special_vr.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/living/simple_animal/animals/possum.dm
  code/modules/mob/living/simple_animal/slime/combat.dm
  code/modules/mob/living/simple_animal/slime/subtypes.dm
  code/modules/mob/say_vr.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/research/designs_vr.dm
  eclipsestation.dme
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  icons/mob/possum.dmi
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-3.dmm
  modular_eclipse/mobs/prometheans_eclipse/bolb.dm
  modular_eclipse/unsorted/randomverbs.dm
Labels: Balancing/Rebalancing, Eclipse edit, Feature, Freeze: Exempt, Map changes, Spelling and Grammer, Suggestion Box, bugfix, enhancement

#272 Patch for antag selection
  code/game/antagonist/antagonist.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job_controller.dm
Labels: bugfix
